<ion-view view-title="About">
  <ion-content>
    <h1>About</h1>
    <h4>
      Developed by Omer Etrog
      <img src="img/team/OmerEtrog.jpg"/>
      <a  href="#" ng-click="openExtLink('https://twitter.com/omer72','')"  title="Twitter">
        <i class="button button-icon icon ion-social-twitter"></i>
      </a>
      <a  href="#" ng-click="openExtLink('http://il.linkedin.com/in/omer72','')" >
      <i class="button button-icon icon ion-social-linkedin"></i>
    </a>
    </h4>
  </ion-content>
</ion-view>
