<ion-view view-title="The Venue">
  <ion-content>
  <div class="list card">

    <div class="item item-avatar">
      <h2>Israel Yafa Bapark </h2>
      <h2>Conference Center</h2>
    </div>

    <div class="item item-image">
      <img src="img/venue.jpg" width="100%" height="80%" style="padding: 0 10px 10px 10px"/>
    </div>

    <a class="item item-icon-left assertive" href="#" ng-click="openExtLink('https://www.google.com/maps/place/%D7%94%D7%9E%D7%95%D7%A2%D7%A6%D7%94+%D7%9C%D7%99%D7%A9%D7%A8%D7%90%D7%9C+%D7%99%D7%A4%D7%94%E2%80%AD/@32.1004181,34.8020536,18z/data=!4m2!3m1!1s0x0000000000000000:0x3fccabda44078ed8')" title="Map">
      <i class="icon ion-map"></i>
      80 Rokach Blvd, Tel Aviv, Israel
    </a>

  </div>
    </ion-content>

</ion-view>
