<ion-view view-title="Partners">
  <ion-content>
    <div class="list card">

      <a href="#" class="item " ng-click="openExtLink('http://wix.com','')">
        <img src="img/partners/WixEngineering.png" alt="Wix Engineering"
             title="Wix Engineering" width="100%"/>
      </a>
      <a href="#" class="item " ng-click="openExtLink('http://gdg-il.appspot.com/','')">
        <img src="img/partners/gdg.svg" width="100%" />
      </a>
      <a href="#" class="item " ng-click="openExtLink('http://www.meetup.com/AngularJS-IL/','')">
        <img src="img/partners/angularjs-il.jpg" width="100%"/>
      </a>
      <a href="#" class="item " ng-click="openExtLink('http://www.meetup.com/JavaScript-Israel/','')">
        <img src="img/partners/javascript-israel.jpg" width="100%"/>
      </a>
      <a href="#" class="item " ng-click="openExtLink('http://hirez.io','')">
        <img src="img/partners/hirez.png" width="100%"/>
      </a>
      <a href="#" class="item " ng-click="openExtLink('http://500Tech.com','')">
        <img src="img/partners/500tech.png" width="100%"/>
      </a>
      <a href="#" class="item " ng-click="openExtLink('http://www.sparxys.com','')">
        <img src="img/partners/sparXys.png" width="100%"/>
      </a>
      <a href="#" class="item " ng-click="openExtLink('https://www.spectory.com/en','')">
        <img src="img/partners/spectory.png" width="100%"/>
      </a>
      <a href="#" class="item " ng-click="openExtLink('https://www.pluralsight.com/','')">
        <img src="img/partners/pluralsight.png" width="100%"/>
      </a>
      <a href="#" class="item " ng-click="openExtLink('http://www.meetup.com/FrontEnd-IL/','')">
        <img src="img/partners/frontend-il.png" width="100%"/>
      </a>
    </div>


  </ion-content>
</ion-view>
